@import '/SCSS/important';
@import '/SCSS/dropdowns';
@import '/SCSS/needHelp';
@import '/SCSS/cards';
@import '/SCSS/eventCards';
@import '/SCSS/fullScreen';

$breakpoint-phone: 376px;

body {

  background-color: rgb(31, 42, 58);
  color: white;

}

@media (min-width: $breakpoint-phone) {

  body {

    background-color: white;
    color: black;

  }

  .mainBox {

    display: flex;

  }

  .leftBox {

    display: inline-block;
    width: 26%;

  }

}