@import '/SCSS/important';
@import '/SCSS/dropdowns';
@import '/SCSS/needHelp';
@import '/SCSS/cards';
@import '/SCSS/eventCards';
@import '/SCSS/fullScreen';

$breakpoint-phone: 376px;

body {

  background-color: rgb(31, 38, 46);
  color: white;

  .mainBox {

    display: flex;
    height: 100vh;
    font-family: sans-serif;

  }

}

@media (min-width: $breakpoint-phone) {

  body {

    background-color: white;
    color: black;

  }

  .mainBox {

    display: flex;
    height: 100vh;
    width: 85vw;
    font-family: sans-serif;

  }

  .leftBox {

    display: inline-block;
    width: 30%;

  }

}