

.accordionNoLinks {

    border-bottom: 1px solid rgb(40, 53, 64);
    margin-bottom: 5%;
    padding-bottom: 8px;

  .fa-angle-right {

  position: relative;
  left: 5%;

  }

  .learnMore {

    color: grey;
    height: 20px;
  }

}

.accordionExpanded {

    background-color: rgb(40, 53, 64);

}

.accordionTitle {

      color: white;
      font-size: 1em;

  }

.accordion {

  background-color: rgb(31, 38, 46);
  margin-left: 3%;
  margin-right: 3%;

  .accordionItem {

    border-bottom: 1px solid rgb(40, 53, 64);
    margin-bottom: 5%;
    padding-bottom: 8px;

    .accordionBody {

      color: white;
      margin-left: 3%;
      margin-top: 3%;


    }

      .accordionLinks {

        margin-bottom: 3%;

      }


  }
}

@media (min-width: $breakpoint-phone) {

  .accordion {

    display: none;

  }

  }

