.accordionNoLinks {

    border-bottom-style: groove;
    margin-bottom: 5%;
    padding-bottom: 8px;


  .accordionTitle {

    color : grey;

  }

  .learnMore {

    color : grey;
  }

}

.accordionExpanded {

    background-color: rgb(64, 75, 99);

}

.accordion {

  background-color: rgb(31, 42, 58);
  margin-left: 3%;
  margin-right: 3%;

  .accordionItem {

    border-bottom-style: groove;
    margin-bottom: 5%;
    padding-bottom: 8px;

    .accordionBody {

      color : white;

    }

    .accordionTitle {

      color : grey;

    }
  }
}

@media (min-width: $breakpoint-phone) {

  .accordion {

    display: none;

  }

  }

