$breakpoint-phone: 376px;

.eventCards  {

  display: none;

}

.eventCardsSmall {

  width: 75%;
  height: 16em;
  margin: unset;
  margin-top: 2%;
  margin-left: 2%;
  margin-bottom: 1%;
  background-color: rgb(64, 75, 99);
  border-radius: 10px;


}

.eventCardBodySmall {

  padding: 0px;

}

.eventCardImageSmall {

  margin:auto;
  height: 42%;

}

.eventCardTitleSmall {

  font-size: 1.1em;
  margin-top: 3%;
  margin-left: 2%;

}

.eventLinkSmall {

  font-size: 0.8em;
  margin-left: 2%;
  color: white;

  .fa-angle-right {

  position: relative;
  left: 5%;

  }

}

.eventTextSmall {

  font-size: 0.8em;
  margin-left: 2%;
  margin-bottom: 2em;

}



@media (min-width: $breakpoint-phone) {

  .eventCardsSmall {

    display: none;

  }

  .eventCards  {

  display: flex;
  width: 95%;
  height: 41em;
  margin: unset;
  margin-top: 2%;
  margin-left: 7%;
  margin-bottom: 7%;
  background-color: black;
  color: white;
  box-shadow: 0 20px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  }

  .eventCardImage {

  margin:auto;
  width: 90%;
  height: 38%;

  }

  .eventCardTitle {

    margin: auto;
    margin-top: 28%;
    margin-bottom: 4%;

  }

  .eventText {

     text-align: center;
     margin-bottom: 15%;

  }

  .eventButton {

    margin: 0 auto;
    display: block;

  }

}