$breakpoint-phone: 376px;

.fullScreenDropdowns {

  display: none;

}


@media (min-width: $breakpoint-phone) {



  .fullScreenDropdowns {

    display: flex;
    flex-direction: column;
    width: 74%;
    column-count: 2;
    flex-wrap: wrap;
    height: 87%;
    margin-left: 4%;
    font-weight: bold;

  }

  .fullScreenCard {

    line-height: normal;
    border: none;
    border-top: 1px solid rgba(0,0,0,.125);
    border-radius: 0px;

  }

  .fullScreenCardImage {

    width: 20%;
    height: 20%;
    position: relative;
    left: 75%;
    bottom: 2.5em;

  }

  .fullScreenCardBody {

    width: 65%;
    padding: 0rem;

  }

  .fullScreenCardText {

    color: black;
    position: relative;
    top: 1em;
    left: 1em;

  }

  .fullScreenCardLink {

    color: rgb(120, 120, 120);
    font-size: 0.8em;
    position: relative;
    top: 2em;
    left: 1em;

  }

  .fullScreenCard .fa-angle-right {

    position: relative;
    left: 15%;
    top: 2em;
    font-size: 0.8em;
    font-weight: bold;
    color: rgb(120, 120, 120);

  }


  .fullScreenThemes {

    display: inline-block;
    margin-top: 4%;
    width: 46%;

  }

  .fullScreenTitles {

    display: flex;
    flex-direction: row;

  }

  .fullScreenThemeTitle {

    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-left: 5%;
    color: rgb(120, 120, 120);
    font-weight: bold;
    font-size: 1em;

  }

  .fullScreenThemeTitleLink {

    font-size: 0.85em;
    font-weight: bold;
    color: rgb(120, 120, 120);
    margin-left: auto;
    margin-top: auto;
    margin-right: 4%;

    .fa-angle-right {

     position: relative;
     left: 10%;

    }

  }

  .fullScreenThemeLink {

    margin-left: 5%;
    font-size: 0.8em;
    margin-bottom: 2%;

  }

  .fullScreenThemesOneLink {

    display: inline-block;
    margin-top: 4%;
    width: 46%;
    display: flex;
    flex-direction: row;

    .fa-angle-right {

       position: relative;
       left: 10%;

    }

  }

  .oneLinkCard {

    width: 60%;
    margin-top: 4%;
    margin-left: 3%;

  }

  .oneLink {

    display: flex;
    align-items: center;
    margin-left: -1%;
    position: relative;
    left: 10%;
    bottom: 0%;
    font-size: 0.8em;
    color: rgb(120, 120, 120);
  }

}