$breakpoint-phone: 376px;

.fullScreenDropdowns {

  display: none;

}

@media (min-width: $breakpoint-phone) {

  .fullScreenDropdowns {

    display: flex;
    flex-direction: column;
    width: 30%;
    column-count: 2;
    flex-wrap: wrap;
    height: 100%;

  }
  .fullScreenCardImage {

    width: 20%;
    height: 20%;

  }


  .fullScreenThemes {

    display: inline-block;
    margin-bottom: 5%;
    width: 100%;

  }

}