$breakpoint-phone: 376px;

.contact {

  margin-top: 4%;
  margin-left: 5%;

}
.needHelp {

  color: white;
  margin-bottom: 2%;

}

.customer {

  color: grey;
  font-size: 0.6em;

}

.phoneNumber {

  color: grey;
  font-size: 0.6em;
  text-decoration: underline;

}

@media (min-width: $breakpoint-phone) {

  .contact {

    margin-left: 7%;
    font-weight: bold;

  }

  .needHelp {

    width: 100%;
    color: black;


  }

  .customer {

  font-size: 0.8em;

}

.phoneNumber {

  font-size: 0.8em;
  text-decoration: underline;

}

}