$breakpoint-phone: 376px;

.needHelp {

  color: red;

}

.customer {

  color: blue;

}

.phoneNumber {

  color: green;

}

@media (min-width: $breakpoint-phone) {

  .contact {

    margin-left: 7%;

  }

  .needHelp {

    width: 100%;
  }

}