$breakpoint-phone: 376px;

.needHelp {

  color: red;

}

.contact {

  color: blue;

}

.phoneNumber {

  color: green;

}

@media (min-width: $breakpoint-phone) {

  .needHelp {

    width: 100%;
  }

}